/*

TemplateMo 561 Purple Buzz

https://templatemo.com/tm-561-purple-buzz

---------------------------------------------
Table of contents
------------------------------------------------
1. Typography
2. Main Nav
3. Home
4. About
5. Work
6. Single Work
7. Pricing
8. Contact
--------------------------------------------- */

html {
  font-family: "Open Sans", sans-serif;
}
/* Typography */
p,
a {
  font-weight: 400;
}
.h2 {
  font-size: 40px;
}
.h3 {
  font-size: 28px;
}
.light-300 {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 300;
}
.regular-400 {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 400;
}
.semi-bold-600 {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 600;
}
.typo-space-line::after,
.typo-space-line-center::after {
  content: "";
  width: 150px;
  display: block;
  position: absolute;
  border-bottom: 5px solid #6266ea;
  padding-top: 0.5em;
}
.typo-space-line-center::after {
  left: 50%;
  margin-left: -75px;
}
/* Main Nav */
.nav-link{
  font-size: 20px;
}
#main_nav .nav-item .nav-link:hover {
  color: #fff;
}
/* Home */
#index_banner {
  background:black;
  background-position: center center;
  background-size: cover;
  height: 100%;
  min-height: 60vh;
  width: 100%;
}
#index_banner .carousel-item {
  min-height: 60vh;
}
#index_banner .carousel-control-prev i,
#index_banner .carousel-control-next i {
  color: #6266ea !important;
  text-decoration: none;
  font-size: 4em;
}
#index_banner .carousel-inner {
  height: 80vh;
}
#index_banner .carousel-indicators li,
#index_banner .carousel-indicators.active {
  background-color: #6266ea !important;
}
.service-wrapper .service-footer {
  max-width: 720px;
}
.service-work.card {
  border-radius: 10px !important;
  cursor: pointer;
}
.service-work .service-work-vertical {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 33.33%,
    rgba(255, 255, 255, 1) 66.66%,
    rgba(255, 255, 255, 0) 99.99%
  );
  background-size: 300% 300%;
  background-position: 0% 100%;
  transition: 0.5s;
}
.service-work .service-work-vertical:hover {
  background-position: 0% 0%;
  transition: 0.5s;
}
.service-work .service-work-vertical:hover * {
  color: #000;
  border-color: #000;
  transition: 0.5s;
}
.recent-work.card {
  border-radius: 10px !important;
}
.recent-work .recent-work-vertical {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 33.333%,
    rgba(97, 84, 199, 1) 66.666%,
    rgba(255, 255, 255, 0) 99.999%
  );
  background-size: 300% 300%;
  background-position: 0% 100%;
  transition: 0.5s;
  cursor: pointer;
}
.recent-work .recent-work-vertical:hover {
  background-position: 0% 0%;
  transition: 0.5s;
}
.recent-work .recent-work-vertical:hover div.recent-work-content {
  top: 50%;
  margin-top: -2.5em;
  position: absolute;
}
.recent-work .recent-work-vertical:hover * {
  color: white;
  transition: 0.5s;
}
/* About */
#work_banner {
  background-image: url("./../img/banner-bg-02.jpg");
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.progress {
  height: 8px;
}
.objective-icon {
  border-radius: 13px;
  width: 8rem;
  height: 200px;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: auto;
  background: rgba(126, 81, 165, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: transform 0.5s;
}
.objective-icon:hover {
  transform: scale(1.15);
  box-shadow: 10px 8px 32px 20px rgba(31, 38, 135, 0.37);
}
.partner-wap {
  background-color: #7276ec;
  transition: 1s;
  cursor: pointer;
}
.partner-wap:hover {
  background-color: #b1b3f5;
}
.why-us {
  background: rgb(239, 239, 253);
  background: -moz-linear-gradient(
    0deg,
    rgba(239, 239, 253, 1) 50%,
    rgba(255, 255, 255, 1) 50%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(239, 239, 253, 1) 50%,
    rgba(255, 255, 255, 1) 50%
  );
  background: linear-gradient(
    0deg,
    rgba(239, 239, 253, 1) 50%,
    rgba(255, 255, 255, 1) 50%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efeffd",endColorstr="#ffffff",GradientType=1);
}
.team-member-img {
  transition-duration: 0.15s;
}
.team-member:hover .team-member-img {
  padding: 10px !important;
}

/* Work */
/* Singel Work */
#work_single_banner {
  background-image: url("./../img/banner-bg-02.jpg");
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.related-content {
  border-radius: 20px;
  cursor: pointer;
}
/* Pricing */
.pricing-list {
  margin-bottom: 1px;
}
.pricing-table {
  max-width: 350px;
  margin: auto;
}
.pricing-table,
.pricing-horizontal {
  border-radius: 15px !important;
}
/* Contact */
#floatingtextarea {
  height: 150px;
}
/* Footer */
footer a.text-light:hover {
  color: #bfbfbf !important;
  transition-duration: 0.15s;
}

/* ============================================================= */
.top-cards {
  background: rgba(205, 135, 218, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: rgb(255, 255, 255);
  padding: 5%;
  font-weight: 900;
  text-shadow: 2px 2px #9900ff;
}

.work {
  padding: 30px 10px 40px 10px;
  /* background: radial-gradient(
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.15) 30%,
        rgba(255, 255, 255, 0.3) 32%,
        rgba(255, 255, 255, 0) 33%
      )
      0 0,
    radial-gradient(
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.1) 11%,
        rgba(255, 255, 255, 0.3) 13%,
        rgba(255, 255, 255, 0) 14%
      )
      0 0,
    radial-gradient(
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.2) 17%,
        rgba(255, 255, 255, 0.43) 19%,
        rgba(255, 255, 255, 0) 20%
      )
      0 110px,
    radial-gradient(
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.2) 11%,
        rgba(255, 255, 255, 0.4) 13%,
        rgba(255, 255, 255, 0) 14%
      ) -130px -170px,
    radial-gradient(
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.2) 11%,
        rgba(255, 255, 255, 0.4) 13%,
        rgba(255, 255, 255, 0) 14%
      )
      130px 370px,
    radial-gradient(
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.1) 11%,
        rgba(255, 255, 255, 0.2) 13%,
        rgba(255, 255, 255, 0) 14%
      )
      0 0,
    linear-gradient(
      45deg,
      #343702 0%,
      #184500 20%,
      #187546 30%,
      #006782 40%,
      #0b1284 50%,
      #760ea1 60%,
      #83096e 70%,
      #840b2a 80%,
      #b13e12 90%,
      #e27412 100%
    );
  background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px,
    530px 530px, 730px 730px, 100% 100%;
  background-color: #840b2a; */
}

.work h1 {
  color: rgb(0, 0, 0);
  padding: 5%;
}

.work-cards {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 5%;
  margin: 5%;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  background-color: #c5c7ff;
}
.work-cards:hover {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #4232c2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4fadec;
}
.team-title {
  font-weight: 900;
  font-size: 110%;
}

.team-details h2 {
  padding: 2%;
  text-align: center;
}

.team-details img {
  text-align: center;
  border-radius: 50%;
  margin: 5%;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.team-details h5 {
  padding: 6%;
}

canvas {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

